
<style>

</style>

                    	<!-- 笔记列表  -->
                        <!-- 数据表格模板 start -->
                        <div class="layui-card-body layui-table-body layui-table-main">
                            <table class="layui-table" lay-filter="table_filter" id="admin_table">
                                <thead>
                                  <tr>
                                    <th lay-data="{field:'checkbox', type: 'checkbox'}"></th>
                                    <th lay-data="{field:'title', width:150}">标题</th>
                                    <th lay-data="{field:'create_at', width:150, sort: true}">创建时间</th>
                                    <th lay-data="{field:'update_at', width:150, sort: true}">更新时间</th>
                                    <th lay-data="{field:'options', width:300}">操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                
                                	 #if(page.getList().size() > 0 )
                                		#for(d : page.getList())
                                			<tr id="recordTips">
                                			
                                				<td>#(d.id)</td>
                                   				 
                                   				 <td>#(d.title)</td>
                                   				 
                                   				 <td>#date(d.created_at ??, 'yyyy-MM-dd HH:mm:ss')</td>
                                   				 <td>#date(d.updated_at ??, 'yyyy-MM-dd HH:mm:ss')</td>
                                   				 
                                   				 <td class="td-manage" id="oper">
                                   				 	<a title="编辑"  onclick="noteinfo.edit(#(d.id))" class="layui-btn layui-btn-sm layui-btn-normal" href="javascript:;">
                                        				<i class="layui-icon">&#xe642;</i>编辑</a>
                                        			<a title="删除" onclick="noteinfo.del(#(d.id))" class="layui-btn layui-btn-sm layui-btn-danger" href="javascript:;">
                                        				<i class="layui-icon">&#xe640;</i>删除</a>
                                        			<a title="阅读" onclick="noteinfo.read(#(d.id), '#(d.title)')" class="layui-btn layui-btn-sm" href="javascript:;">
                                        				<i class="layui-icon">&#xe705;</i>阅读</a>
                                   				 </td>
                                   				 
                                			</tr>
                                		#end
                                	#end
                                	
                                </tbody>
                            </table>
                        </div>
                         <!-- 数据表格模板 end -->
                         
                         
                         <!-- 分页控件模板 start -->
                         
                        <div class="layui-card-body ">
                            <div id="demo"></div>
                        </div>
                        
                         <!-- 分页控件模板 end -->
                        
     	<script>
     	
     		$(function(){
     			
     			layui.use(['laypage', 'form', 'table'], function(){
     				var laypage = layui.laypage
     				,form = layui.form
     				,table = layui.table;
     				/* form.render('checkbox'); */
     				 /**初始化分页控件*/
         			laypage.render({
         	    		elem: 'demo' //注意，这里的 test1 是 ID，不用加 # 号
         	   		 	,count: #(page.totalRow) //数据总数，从服务端得到
         	   		 	,limit: #(page.pageSize)
         	   		 	,curr:#(page.pageNumber)
         	   		 	,layout:['count', 'prev', 'page', 'next', 'limit', 'skip', 'refresh']
         			   	,theme: '#c00'//主题
         			   	,page:true
         				,hash: true
         				,jump: function(obj, first){
         					/**分页回调*/
         					//obj包含了当前分页的所有参数，比如：
         				    //console.log(obj.curr); //得到当前页，以便向服务端请求对应页的数据。
         				    //console.log(obj.limit); //得到每页显示的条数
         				    /**首次不执行*/
         				    if(!first){
         				    	noteinfo.pageNumber = obj.curr;
         				    	noteinfo.pageSize = obj.limit;
         				    	var index = layer.load(3, {
    								shade: 0.3
    							});
         				    	noteinfo.list();
         				    	layer.close(index);
         				    }
         				}
         	  		});
     				 
         			 table.init('table_filter', {
         				 limit: #(page.pageSize)
         				 , height:'500px'
         				 , loading: true
         				 , text: {
         				    none: '暂无相关数据'
         				  }
         			 	,toolbar : '#toolbarDemo'
         				 });
     				 
         			 var ids = '';
         			 
         			//头工具栏事件
         			  table.on('toolbar(table_filter)', function(obj){
         			    var checkStatus = table.checkStatus(obj.config.id);
         			    switch(obj.event){
         			      case 'getCheckData':
         			        var data = checkStatus.data;
         			        if(data.length == 0 ){
         			        	systemJs.errorLayer('没有勾选任何行');
         			        	return;
         			        }
         			        ids = '';
         			        $.each(data, function(index, item){
         			        	ids+=item.checkbox + ',';
         			        });
         			        
         			       layer.confirm('确认要删除吗？',function(index){
         			            //捉到所有被选中的，发异步进行删除
         			            ids = '';
         			            systemJs.okLayer('删除成功');
         			           noteinfo.list();
         			        });
         			       
         			      break;
         			    };
         			  });
         			 
         			$('tbody tr td').addClass('recordTips');
         			
     			});
     			/**function*/
     			
     			 
     		})	
     	
     	</script>
    